# See http://help.github.com/ignore-files/ for more about ignoring files.

# secrets
.env
secrets

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/okampus.code-workspace

.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.bzr/
.hg/
.svn/
.idea/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Expo
node_modules/
.expo/
.yarn/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Detox
apps/mobile/e2e/artifacts

# Next.js
.next
apps/site/tsconfig.tsbuildinfo