@import '@/assets/scss/abstracts/mixins/get-animation';

.highlight-active {
    @include get-highlight-animation(
        $background-color-start: rgba(255, 127, 80, 0.25),
        $duration: 1.5s,
        $delay: 0s,
        $timing-function: ease-in-out
    );

    scroll-margin-top: 3rem;
}
