@keyframes skeleton-loader {
  100% {
    transform: translateX(100%);
  }
}

.skeleton-loader {
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block; /* Enable animation */

  position: relative;
  z-index: 1; /* Necessary for overflow: hidden to work correctly in Safari */

  overflow: hidden;
  display: inline-flex;

  line-height: 1;

  opacity: 0.5;
  background-color: var(--bg-2);
  border-radius: 0.25rem;
}

.skeleton-loader::after {
  content: ' ';

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);

  display: var(--pseudo-element-display);

  height: 100%;

  background-image: linear-gradient(90deg, var(--bg-3), #aaa, var(--bg-3));
  background-repeat: no-repeat;

  animation-name: skeleton-loader;
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: var(--animation-direction);
}

@media (prefers-reduced-motion) {
  .skeleton-loader {
    --pseudo-element-display: none; /* Disable animation */
  }
}
