input:disabled {
  @apply opacity-50 cursor-not-allowed;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #ffe57c inset !important;

  -webkit-text-fill-color: var(--text-0) !important;

  .dark & {
    box-shadow: 0 0 0 30px #857222 inset !important;
  }
}

%input {
  @apply w-full grow min-w-0 rounded-lg text-base outline-none flex items-center tabular-nums tracking-tight font-normal text-[var(--text-0)] bg-[var(--bg-input)];
}

.input {
  @extend %input;
  @apply py-3 px-3.5 border border-[var(--border-1)] focus:border-[var(--info)];

  &-unpadded {
    @extend %input;
  }
}

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
}
