:root {
  --h-input: 3rem;
  --h-topbar: 3.5rem;
  --h-bottombar: 4rem;
  --h-content: calc(100vh - var(--h-topbar));
  --px-content: 3rem;
  --py-content: 3rem;
  --pb-app: 3rem;
  --w-tabbar: 4.75rem;
  --w-sidepanel: 22rem;
  --w-sidebar: 17rem;
}

@media (width <= 1536px) {
  :root {
    --px-content: 2rem;
    --pb-app: 2rem;
  }
}
