%button-flat, .button-flat {
    @apply rounded-md font-medium cursor-pointer;
}

.button {
    @extend %button-flat;
    @apply text-white bg-blue-600 dark:bg-blue-800
        hover:bg-blue-700 hover:dark:bg-blue-900
        active:bg-blue-800 active:dark:bg-indigo-900
        disabled:bg-gray-600 disabled:dark:bg-gray-800
        flex justify-center items-center;

    box-shadow: 0 0 1px rgb(0 0 0 / 40%);

    & > :first-child {
        @extend %button-flat;
        @apply bg-blue-500 dark:bg-blue-700
            hover:bg-blue-600 dark:hover:bg-blue-800
            active:bg-blue-700 dark:active:bg-blue-900
            px-4 py-2 relative h-10
            bottom-[0.23rem] w-full;

        box-shadow: inset 0 0 3px rgb(255 255 255 / 50%);
    }

    &[disabled] > :first-child {
        @apply bg-gray-500 dark:bg-gray-700;
    }

    &:not([disabled]) > :first-child {
        @apply transform active:translate-y-[0.11rem]
            transition duration-75 ease-in-out;
    }
}

.button.red {
    @extend %button-flat;
    @apply text-white bg-red-600 dark:bg-red-800
        hover:bg-red-700 hover:dark:bg-red-900
        active:bg-red-800 active:dark:bg-red-900
        disabled:bg-gray-600 disabled:dark:bg-gray-800
        flex justify-center items-center;

    & > :first-child {
        @extend %button-flat;
        @apply bg-red-500 dark:bg-red-700
            hover:bg-red-600 dark:hover:bg-red-800
            active:bg-red-700 dark:active:bg-red-900
            px-4 py-2 relative h-10
            bottom-[0.23rem] w-full;

        box-shadow: inset 0 0 3px rgb(255 255 255 / 50%);
    }
}
