@import '@/assets/scss/abstracts/mixins/get-color';

select:invalid {
    @extend %text-placeholder;

    opacity: 1;
}

// TODO: fix selector (find better workaround)
%raised,
.raised,
button.raised {
    box-shadow: inset 0 2px 1px hsl(0deg 0% 100% / 60%), 1px 2px 2px 0 hsl(0deg 0% 0% / 15%);

    .dark & {
        box-shadow: inset 0 2px 1px hsl(0deg 0% 100% / 30%), 0 2px 2px hsl(0deg 0% 0% / 30%);
    }
}

%select,
.select {
    @include get-color('bg', 1);
    @extend %input-flat;
    @extend %raised;
}

%popover,
.popover {
    @include get-color('bg', 2);
    @apply p-3 rounded-lg shadow-lg;
}
