@import "~@/assets/scss/abstracts/mixins/get-color";

.swiper-container {
  @apply pb-10;
}

.swiper-button-next {
  @apply top-unset h-7 rounded-full bg-black bottom-0;
}

.swiper-button-next::after {
  @apply text-lg;
}

.swiper-button-prev {
  @apply top-unset h-7 rounded-full bg-black bottom-0;
}

.swiper-button-prev::after {
  @apply text-lg;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  @apply w-1/2 left-1/4;
}

.swiper-pagination-bullet {
  @include get-color("bg", 1);
}
