/* stylelint-disable selector-class-pattern */
.editor > .ProseMirror {
    @extend %input;
    @apply text-gray-900 dark:text-gray-100 px-2 py-1 break-all text-ellipsis;

    & p.is-editor-empty {
        @extend %text-placeholder;

        &:first-child::before {
            @extend %placeholder;

            content: attr(data-placeholder);
            float: left;
            pointer-events: none;
            height: 0;
        }
    }
}
