/* stylelint-disable selector-class-pattern */
.ProseMirror p.is-editor-empty:first-child::before {
  @apply dark:text-placeholder-light text-placeholder-dark;

  content: attr(data-placeholder);
  float: left;
  pointer-events: none;
  height: 0;
}

.ProseMirror {
  @extend %input-border;
  @apply text-gray-900 dark:text-gray-100
    rounded-t-none focus:rounded-t focus:outline-none
    outline-none min-h-20 px-2 py-1;
}
/* stylelint-enable selector-class-pattern */
