/* stylelint-disable selector-class-pattern */
.editor > .ProseMirror {
    @extend %input;
    @apply text-gray-900 dark:text-gray-100 px-2 py-1 break-words text-ellipsis;

    & p.is-editor-empty {
        @extend %text-placeholder;

        &:first-child::before {
            float: left;
            height: 0;
            pointer-events: none;
            content: attr(data-placeholder);
        }
    }
}
