:root {
  --topbar-height: 4rem;
  --sidebar-width-lg: 18rem;
  --sidebar-width-sm: 8rem;
  --padding-inner: 0.25rem;
  --padding-bubble: 2px;
  --padding-view: 2rem;
}

.w-sidebar {
  @apply lg:w-[var(--sidebar-width-lg)] w-[var(--sidebar-width-sm)];
}

.w-content {
  @apply lg:w-[calc(100%-var(--sidebar-width-lg))] w-[calc(100%-var(--sidebar-width-sm))];
}

.h-topbar {
  height: var(--topbar-height);
}

.h-content {
  height: calc(100% - var(--topbar-height));
}

.h-bubble {
  height: calc(var(--topbar-height) - var(--padding-inner) * 2 - var(--padding-bubble) * 4);
}

.p-bubble {
  padding: var(--padding-bubble);
}

.p-sidebar {
  padding-top: calc(var(--padding-inner) * 1.5);
  padding-left: var(--padding-inner);
}

.p-sidebar-name {
  padding-right: calc(var(--padding-inner) * 4);
  padding-left: var(--padding-inner);
}

.p-sidebar-menu-list {
  padding-top: calc(var(--padding-inner) * 2);
  padding-right: calc(var(--padding-inner) * 3);
}

.p-topbar {
  padding: calc(var(--padding-inner) * 1.5) var(--padding-view);
}

.gap-inner {
  gap: calc(var(--padding-inner) * 3);
}

.p-view {
  padding: var(--padding-view);
}

.p-view-inner {
  padding: calc(var(--padding-view) * 0.75) var(--padding-view);
}
