:root {
  --topbar-height: 5.5rem;
  --sidebar-width-xl: 18rem;
  --sidebar-width: 5rem;
  --padding-view: 3rem;
  --padding-vertical-view: 3rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.w-sidebar {
  @apply w-[var(--sidebar-width)] xl:w-[var(--sidebar-width-xl)];
}

.w-content {
  width: calc(100vw - var(--sidebar-width));
  /* stylelint-disable-next-line scss/operator-no-unspaced */
  @apply xl:w-[calc(100vw-var(--sidebar-width-xl))];
}

.px-content {
  @apply px-10 lg:px-16;
}

.py-content {
  @apply py-10;
}

.w-popover-card {
  @apply w-96;
}
