:root {
    --topbar-height: 4.5rem;
    --sidebar-width: 14rem;
    --collapse-width: 900px;
    --expander-transition-time: 3s;
    --logo-url: url("~@/assets/img/logo-black.png");
}

:root.dark {
    --logo-url: url("~@/assets/img/logo-white.png");
}

.bg-1 {
    @apply bg-gray-50 dark:bg-gray-800
}

.bg-2 {
    @apply bg-gray-100 dark:bg-gray-700
}

.bg-3 {
    @apply bg-gray-200 dark:bg-gray-600
}

.bg-4 {
    @apply bg-gray-300 dark:bg-gray-400
}

.bg-alt-1 {
    @apply bg-gray-700 dark:bg-gray-50
}

.bg-alt-2 {
    @apply bg-gray-600 dark:bg-gray-100
}

.bg-alt-3 {
    @apply bg-gray-500 dark:bg-gray-200
}

.bg-alt-4 {
    @apply bg-gray-400 dark:bg-gray-300
}

.text-1 {
    @apply text-black dark:text-white
}

.text-2 {
    @apply text-gray-700 dark:text-gray-100
}

.text-3 {
    @apply text-gray-500 dark:text-gray-300
}

.placeholder-1 {
    @apply placeholder-black dark:placeholder-white
}

.placeholder-2 {
    @apply placeholder-gray-700 dark:placeholder-gray-100
}

.placeholder-3 {
    @apply placeholder-gray-500 dark:placeholder-gray-300
}

.text-alt-1 {
    @apply text-white dark:text-black
}

.text-alt-2 {
    @apply text-gray-100 dark:text-gray-700
}

.text-alt-3 {
    @apply text-gray-300 dark:text-gray-500
}

.bc-1 {
    @apply border-gray-500 dark:border-black
}

.bc-2 {
    @apply border-gray-300 dark:border-gray-700
}

.bc-3 {
    @apply border-gray-100 dark:border-gray-500
}

.bc-alt-1 {
    @apply border-black dark:border-gray-500
}

.bc-alt-2 {
    @apply border-gray-700 dark:border-gray-300
}

.bc-alt-3 {
    @apply border-gray-500 dark:border-gray-100
}

.text-hover-brand {
    @apply hover:text-indigo-300 focus:outline-none focus:text-blue-400
}

.bc-mouse-brand {
    @apply hover:border-indigo-300 focus:outline-none focus:border-blue-400
}

.bg-mouse-brand {
    @apply hover:bg-indigo-100 focus:bg-blue-200 dark:hover:bg-indigo-400 dark:focus:bg-blue-600
}

.app-scrollbar {
    @apply scrollbar scrollbar-thin scrollbar-thumb-blue-700 scrollbar-track-blue-300 scrollbar-thumb-rounded
}

.w-sbar {
    width: var(--sidebar-width)
}

.-l-sbar {
    margin-left: calc(-1 * var(--sidebar-width))
}

.l-sbar {
    left: calc(var(--sidebar-width))
}

.h-content {
    height: calc(100vh - var(--topbar-height))
}

.w-content {
    width: calc(100% - var(--sidebar-width))
}

.h-tbar {
    height: var(--topbar-height)
}

.top-tbar {
    top: var(--topbar-height)
}

.logo {
    background: var(--logo-url) no-repeat 0 0;
    background-size: 100%;
}


