$topbar-height: 4rem;
$sidebar-width-sm: 5rem;
$sidebar-width-lg: 15rem;

.w-sidebar-sm {
    width: $sidebar-width-sm;
}

.w-sidebar-lg {
    width: $sidebar-width-lg;
}

.hidden-sidebar-sm {
    margin-left: calc(-1 * $sidebar-width-sm);
}

.hidden-sidebar-lg {
    margin-left: calc(-1 * $sidebar-width-lg);
}

.w-sidebar {
    width: $sidebar-width-sm;
}

.w-content {
    width: calc(100% - $sidebar-width-sm);
}

.hidden-sidebar {
    margin-left: calc(-1 * $sidebar-width-sm);
}

.after-sidebar {
    left: $sidebar-width-sm;
}

@media (min-width: 1536px) {
    .w-sidebar {
        width: $sidebar-width-lg;
    }

    .w-content {
        width: calc(100% - $sidebar-width-lg);
    }

    .after-sidebar {
        left: $sidebar-width-lg;
    }

    .hidden-sidebar {
        margin-left: calc(-1 * $sidebar-width-lg);
    }
}

.h-topbar {
    height: $topbar-height;
}

.after-topbar {
    top: $topbar-height;
}

.h-content {
    height: calc(100vh - $topbar-height);
}
