$topbar-height: 4.5rem;
$sidebar-width: 9rem;
$sidebar-width-lg: 14rem;

.w-sidebar {
    width: $sidebar-width;
}

.hidden-sidebar {
    margin-left: calc(-1 * $sidebar-width);
}

@media (min-width: 1536px) {
    .w-sidebar {
        width: $sidebar-width-lg;
    }

    .hidden-sidebar {
        margin-left: calc(-1 * $sidebar-width-lg);
    }
}

.h-topbar {
    height: $topbar-height;
}

.after-sidebar {
    left: $sidebar-width;
}

.after-topbar {
    top: $topbar-height;
}

.h-content {
    height: calc(100vh - $topbar-height);
}

.w-content {
    width: calc(100% - $sidebar-width);
}
