$topbar-height: 4rem;
$sidebar-width-sm: 5rem;
$sidebar-width-lg: 16rem;

.w-sidebar-sm {
    width: $sidebar-width-sm;
}

.w-sidebar-lg {
    width: $sidebar-width-lg;
}

.after-sidebar-sm {
    left: $sidebar-width-sm;
    width: calc(100vw - $sidebar-width-sm);
}

.after-sidebar-lg {
    left: $sidebar-width-lg;
    width: calc(100vw - $sidebar-width-lg);
}

.hidden-sidebar-sm {
    margin-left: calc(-1 * $sidebar-width-sm);
}

.hidden-sidebar-lg {
    margin-left: calc(-1 * $sidebar-width-lg);
}

.w-content {
    width: calc(100% - $sidebar-width-sm);
}

.h-topbar {
    height: $topbar-height;
}

.after-topbar {
    top: $topbar-height;
}

.h-content {
    height: calc(100vh - $topbar-height);
}
