%left-label-active.active {
    @apply opacity-80 bg-sky-100;

    color: #4b7bec;
    background-color: #767d8e30;
    border-radius: 1rem;

    .dark & {
        color: #1042c2;
        background-color: #00000038;
    }
}

%text-opaque-active.active {
    opacity: 1;
}
