%left-label-active.active, %left-label-active:active {
    // box-shadow: inset 5px 0 0 0 #66f;
    @apply opacity-80 bg-sky-100;

    color: #4b7bec;
    background-color: #edf2fe;
    border-radius: 1rem;

    :root.dark & {
        color: #033aba;
        background-color: #11192e;
    }
}

%text-opaque-active.active, %text-opaque-active:active {
    opacity: 1;
}

%icon-active.active {
    color: #1e40af;
}
