@font-face {
    font-family: Poppins;
    font-weight: 100;
    src: url('@/assets/font/Poppins/Poppins-Thin.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 100;
    src: url('@/assets/font/Poppins/Poppins-ThinItalic.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-weight: 200;
    src: url('@/assets/font/Poppins/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 200;
    src: url('@/assets/font/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-weight: 300;
    src: url('@/assets/font/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 300;
    src: url('@/assets/font/Poppins/Poppins-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url('@/assets/font/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 400;
    src: url('@/assets/font/Poppins/Poppins-Italic.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-weight: 500;
    src: url('@/assets/font/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 500;
    src: url('@/assets/font/Poppins/Poppins-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-weight: 600;
    src: url('@/assets/font/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 600;
    src: url('@/assets/font/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url('@/assets/font/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 700;
    src: url('@/assets/font/Poppins/Poppins-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-weight: 800;
    src: url('@/assets/font/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 800;
    src: url('@/assets/font/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-weight: 900;
    src: url('@/assets/font/Poppins/Poppins-Black.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    font-weight: 900;
    src: url('@/assets/font/Poppins/Poppins-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: AcariSans;
    font-weight: 200;
    src: url('@/assets/font/AcariSans/AcariSans-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: AcariSans;
    font-style: italic;
    font-weight: 200;
    src: url('@/assets/font/AcariSans/AcariSans-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: AcariSans;
    font-weight: 300;
    src: url('@/assets/font/AcariSans/AcariSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: AcariSans;
    font-style: italic;
    font-weight: 300;
    src: url('@/assets/font/AcariSans/AcariSans-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: AcariSans;
    font-weight: 400;
    src: url('@/assets/font/AcariSans/AcariSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: AcariSans;
    font-style: italic;
    font-weight: 400;
    src: url('@/assets/font/AcariSans/AcariSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: AcariSans;
    font-weight: 500;
    src: url('@/assets/font/AcariSans/AcariSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: AcariSans;
    font-style: italic;
    font-weight: 500;
    src: url('@/assets/font/AcariSans/AcariSans-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: AcariSans;
    font-weight: 600;
    src: url('@/assets/font/AcariSans/AcariSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: AcariSans;
    font-style: italic;
    font-weight: 600;
    src: url('@/assets/font/AcariSans/AcariSans-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: AcariSans;
    font-weight: 700;
    src: url('@/assets/font/AcariSans/AcariSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: AcariSans;
    font-style: italic;
    font-weight: 700;
    src: url('@/assets/font/AcariSans/AcariSans-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: AcariSans;
    font-weight: 800;
    src: url('@/assets/font/AcariSans/AcariSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: AcariSans;
    font-style: italic;
    font-weight: 800;
    src: url('@/assets/font/AcariSans/AcariSans-ExtraBoldItalic.ttf') format('truetype');
}
