.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.search-fade-enter-active,
.search-fade-leave-active {
    transition: opacity 0.4s ease;
}

.search-fade-enter-from,
.search-fade-leave-to {
    opacity: 0;
}

.toast-enter-active,
.toast-leave-active {
    transition: all 0.4s ease;
}

.toast-enter-from,
.toast-leave-to {
    opacity: 0;
    transform: translateY(100%);
}
