:root {
    --topbar-height: 4.5rem;
    --sidebar-width: 8rem;
    --collapse-width: 900px;
    --expander-transition-time: 3s;
}

.w-sbar {
    width: var(--sidebar-width)
}

.-l-sbar {
    margin-left: calc(-1 * var(--sidebar-width))
}

.l-sbar {
    left: calc(var(--sidebar-width))
}

.h-content {
    height: calc(100vh - var(--topbar-height))
}

.w-content {
    width: calc(100% - var(--sidebar-width))
}

.h-tbar {
    height: var(--topbar-height)
}

.top-tbar {
    top: var(--topbar-height)
}

