@use "sass:string";
@use "sass:list";

$brand-url: url("@/assets/img/logos/horizon_brand.png");

@mixin tailwind-color($tailwind-property, $name: "", $tailwind-property-count: 6) {
    @if $name == "" {
        $name: $tailwind-property;
    }

    $tailwind-property-list: null;

    @for $i from 0 through $tailwind-property-count {
        $tailwind-property-value: #{$tailwind-property}-#{$i};

        .#{$name}-#{$i} {
            @apply #{$tailwind-property-value}-light dark:#{$tailwind-property-value}-dark;
        }

        .#{$name}-#{$i}-alt {
            @apply #{$tailwind-property-value}-dark dark:#{$tailwind-property-value}-light;
        }

        $tailwind-property-list: list.append(
            $tailwind-property-list,
            string.unquote(".#{$tailwind-property-value}"),
            comma
        );
        $tailwind-property-list: list.append(
            $tailwind-property-list,
            string.unquote(".#{$tailwind-property-value}-alt"),
            comma
        );
    }
}

@include tailwind-color("bg");
@include tailwind-color("text");
@include tailwind-color("divide", "divide-color", 1);
@include tailwind-color("from","", 2);
@include tailwind-color("to","", 2);
@include tailwind-color("border","border-color", 2);

.border-footer {
    @apply border-gray-300 dark:border-gray-400;
}

.border-bar {
    border-color: #e4e4e7;

    @apply dark:border-black;
}

.brand {
    @apply filter brightness-0 dark:brightness-100;

    transition: all 300ms;
    background: $brand-url no-repeat 0 0;
    background-size: 100%;
}

.ratio-square {
    position: relative;

    & > div {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &.centered > div {
        @apply text-center;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.ratio-square::before {
    content: "";
    display: block;
    padding-top: 100%; /* initial ratio of 1:1 */
}

.symmetry-x {
    transform: scale(-1, 1);
}
