.topbar {
    @apply bg-slate-800 text-gray-200;

    .dark & {
        @apply bg-slate-900;
    }
}

.sidebar {
    @apply bg-slate-700 text-gray-200;

    .dark & {
        @apply bg-slate-800;
    }
}

.bg-app {
    background-color: #fff;

    .dark & {
        background-color: #111214;
    }
}

.bg-content {
    background-color: #fff;

    .dark & {
        background: linear-gradient(to right, #17191f, #1a2221);
    }
}

.bg-card-meta {
    background-color: #f7f7f7;

    .dark & {
        background-color: #222329;
    }
}

.bg-card-within-1 {
    background-color: #fff;

    .dark & {
        background-color: #1d1f25;
    }
}
