.bg-navbar {
    background-color: #fff;

    :root.dark & {
        background-color: #1d2226;
    }
}

.bg-app {
    background-color: #efefef;

    :root.dark & {
        background-color: #111214;
    }
}

.bg-content {
    background-color: #fff;

    :root.dark & {
        background: linear-gradient(to right, #17191f, #1a2221);
    }
}

.bg-card-meta {
    background-color: #f7f7f7;

    :root.dark & {
        background-color: #222329;
    }
}

.bg-card-within-1 {
    background-color: #fff;

    :root.dark & {
        background-color: #1d1f25;
    }
}
