.topbar {
    color: #ddd;
    background-color: #0d2a35;

    .dark & {
        background-color: #051519;
    }
}

.sidebar {
    color: #ddd;
    background-color: #163541;

    .dark & {
        background-color: #081f25;
    }
}

.bg-app {
    background-color: #fff;

    .dark & {
        background-color: #111214;
    }
}

.bg-content {
    background-color: #fff;

    .dark & {
        background: linear-gradient(to right, #17191f, #1a2221);
    }
}

.bg-card-meta {
    background-color: #f7f7f7;

    .dark & {
        background-color: #222329;
    }
}

.bg-card-within-1 {
    background-color: #fff;

    .dark & {
        background-color: #1d1f25;
    }
}
