%button {
    transition: box-shadow 0.3s ease-in-out, filter 0.3s ease-in-out;
    @apply text-white cursor-pointer rounded-lg px-3 py-2;

    &:hover {
        filter: brightness(1.3);
    }
}

.button-blue {
    @extend %button;

    background-color: #1b73d5;

    &:hover {
        box-shadow: 0 0 8px #50a7ff;
    }
}

.button-green {
    @extend %button;

    background-color: #0ecc54;

    &:hover {
        box-shadow: 0 0 8px #7ee763;
    }
}

.button-yellow {
    @extend %button;

    background-color: #e7b734;

    &:hover {
        box-shadow: 0 0 8px #e2b63e;
    }
}

.button-grey {
    @extend %button;

    @apply bg-gray-500;

    &:hover {
        box-shadow: 0 0 8px 0 rgb(255 255 255 / 50%);
    }
}

.button-red {
    @extend %button;

    background: #f72d13;

    &:hover {
        box-shadow: 0 0 8px #e45d4b;
    }
}
