%button {
    @extend %raised;
    @apply text-white min-h-[2.25rem] py-2 cursor-pointer rounded-lg px-4 z-10 line-clamp-1 children:line-clamp-1 children:break-all overflow-ellipsis;

    transition: box-shadow 0.3s ease-in-out, filter 0.3s ease-in-out;

    & i {
        @apply shrink-0;
    }

    &:disabled {
        opacity: 0.5;
    }

    &:hover:enabled {
        filter: brightness(1.3);
        transition: box-shadow 0.3s ease-in-out;
    }
}

.button-blue {
    @extend %button;

    background-color: #1b73d5;

    &:hover:enabled {
        box-shadow: 0 0 8px #50a7ff;
    }
}

.button-indigo {
    @extend %button;

    background-color: #6366f1;

    &:hover:enabled {
        box-shadow: 0 0 8px #8894ff;
    }
}

.button-green {
    @extend %button;

    background-color: #0ca74c;

    &:hover:enabled {
        box-shadow: 0 0 8px #2b9c0f;
    }
}

.button-yellow {
    @extend %button;

    background-color: #d6a726;

    &:hover:enabled {
        box-shadow: 0 0 8px #daa924;
    }
}

.button-grey {
    @extend %button;

    @apply bg-gray-500;

    &:hover:enabled {
        box-shadow: 0 0 8px 0 rgb(255 255 255 / 50%);
    }
}

.button-red {
    @extend %button;

    background: #f72d13;

    &:hover:enabled {
        box-shadow: 0 0 8px #e45d4b;
    }
}

.button-reverse {
    @extend %button;
    @apply bg-1-dark dark:bg-1-light text-1-dark dark:text-1-light;

    &:hover:enabled {
        box-shadow: 0 0 8px #333;
    }

    .dark &:hover:enabled {
        box-shadow: 0 0 8px #ddd;
    }
}

.pill-button {
    @apply flex items-center gap-2 rounded-full py-1.5 font-semibold;
}

.button-circle {
    @apply flex h-12 w-12 cursor-pointer items-center justify-center border-4 border-2-light text-lg dark:border-2-dark md:text-xl;

    padding: 0 !important;
    border-radius: 9999px !important;
    box-shadow: none !important;
}
