@import '@/assets/scss/abstracts/mixins/get-color';

// TODO: refactor cards

.card-0 {
    @include get-color('text', 0);
    @include get-color('bg', 0);
    @apply shadow-md md:rounded-lg py-4 px-6;
}

.card {
    @apply shadow-md md:rounded-lg py-4 px-6;
}

.card-2 {
    @include get-color('text', 0);
    @include get-color('bg', 2);
    @apply shadow-md md:rounded-lg py-4 px-6;
}

.card-content {
    @include get-color('text', 0);

    background-color: #fff;

    .dark & {
        background: linear-gradient(to right, #17191f, #1a2221);
    }

    @apply shadow-md md:rounded-lg py-4 px-6;
}

.card-hover {
    transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;

    &:hover {
        z-index: 20;

        // filter: contrast(110%);
        transform: scale(102.5%);
    }
}
