/* stylelint-disable selector-class-pattern */

.CodeMirror {
    height: 300px;
    font-family: monospace;
    color: #000;
    direction: ltr;

    .dark & {
        color: #fff;
    }
}

.CodeMirror-lines {
    padding: 4px 0;
}

.CodeMirror-gutter-filler,
.CodeMirror-scrollbar-filler {
    background-color: #fff;
}

.CodeMirror-gutters {
    white-space: nowrap;
    background-color: #f7f7f7;
    border-right: 1px solid #ddd;
}

.CodeMirror-linenumber {
    min-width: 20px;
    padding: 0 3px 0 5px;
    color: #999;
    text-align: right;
    white-space: nowrap;
}

.CodeMirror-guttermarker {
    color: #000;
}

.CodeMirror-guttermarker-subtle {
    color: #999;
}

.CodeMirror-cursor {
    position: absolute;
    width: 0;
    pointer-events: none;
    border-right: none;
    border-left: 1px solid #000;

    .dark & {
        border-left-color: #fff;
    }
}

.CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid silver;
}

div.CodeMirror-cursors {
    position: relative;
    z-index: 3;
    visibility: hidden;
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
    background: #d7d4f0;
}

.cm-fat-cursor .CodeMirror-cursor {
    width: auto;
    background: #7e7;
    border: 0 !important;
}

.cm-fat-cursor div.CodeMirror-cursors {
    z-index: 1;
}

.cmcursor .CodeMirror-line::selection,
.cm-fat-cursor .CodeMirror-line::selection,
.cmcursor .CodeMirror-line > span::selection,
.cm-fat-cursor .CodeMirror-line > span::selection,
.cmcursor .CodeMirror-line > span > span::selection,
.cm-fat-cursor .CodeMirror-line > span > span::selection {
    background: 0 0;
}

.cm-fat-cursor {
    caret-color: transparent;
}
@keyframes blink {
    50% {
        background-color: transparent;
    }
}
@keyframes blink {
    50% {
        background-color: transparent;
    }
}
@keyframes blink {
    50% {
        background-color: transparent;
    }
}

.cm-tab {
    display: inline-block;
    text-decoration: inherit;
}

.CodeMirror-rulers {
    position: absolute;
    top: -50px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.CodeMirror-ruler {
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px solid #ccc;
}

.cm-header,
.cm-strong {
    font-weight: 700;
}

.cm-s-default .cm-header {
    color: #00f;
}

.cm-s-default .cm-quote {
    color: #090;
}

.cm-negative {
    color: #d44;
}

.cm-positive {
    color: #292;
}

.cm-em {
    font-style: italic;
}

.cm-link {
    text-decoration: underline;
}

.cm-strikethrough {
    text-decoration: line-through;
}

.cm-s-default .cm-keyword {
    color: #708;
}

.cm-s-default .cm-atom {
    color: #219;
}

.cm-s-default .cm-number {
    color: #164;
}

.cm-s-default .cm-def {
    color: #00f;
}

.cm-s-default .cm-variable-2 {
    color: #05a;
}

.cm-s-default .cm-type,
.cm-s-default .cm-variable-3 {
    color: #085;
}

.cm-s-default .cm-comment {
    color: #a50;
}

.cm-s-default .cm-string {
    color: #a11;
}

.cm-s-default .cm-string-2 {
    color: #f50;
}

.cm-s-default .cm-meta {
    color: #555;
}

.cm-s-default .cm-qualifier {
    color: #555;
}

.cm-s-default .cm-builtin {
    color: #30a;
}

.cm-s-default .cm-bracket {
    color: #997;
}

.cm-s-default .cm-tag {
    color: #170;
}

.cm-s-default .cm-attribute {
    color: #00c;
}

.cm-s-default .cm-hr {
    color: #999;
}

.cm-s-default .cm-link {
    color: #00c;
}

.cm-s-default .cm-error {
    color: red;
}

.cm-invalidchar {
    color: red;
}

.CodeMirror-composing {
    border-bottom: 2px solid;
}

div.CodeMirror span.CodeMirror-matchingbracket {
    color: #0b0;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: #a22;
}

.CodeMirror-matchingtag {
    background: rgb(255 150 0 / 30%);
}

.CodeMirror-activeline-background {
    background: #e8f2ff;
}

.CodeMirror-scroll {
    position: relative;
    height: 100%;

    // padding-bottom: 50px;
    // margin-right: -50px;
    // margin-bottom: -50px;
    overflow: scroll !important;
    outline: 0;

    // Removes "ghost" codemirror element
    & > *:nth-last-child(2) {
        display: none;
    }
}

.CodeMirror-sizer {
    position: relative;
    border-right: 20px solid transparent;
}

.CodeMirror-gutter-filler,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-vscrollbar {
    position: absolute;
    z-index: 6;
    display: none;
    outline: 0;
}

.CodeMirror-vscrollbar {
    top: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.CodeMirror-hscrollbar {
    bottom: 0;
    left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

.CodeMirror-scrollbar-filler {
    right: 0;
    bottom: 0;
}

.CodeMirror-gutter-filler {
    bottom: 0;
    left: 0;
}

.CodeMirror-gutter {
    display: inline-block;
    height: 100%;
    margin-bottom: -50px;
    white-space: normal;
    vertical-align: top;
}

.CodeMirror-gutter-wrapper {
    position: absolute;
    z-index: 4;
    background: 0 0 !important;
    border: none !important;
}

.CodeMirror-gutter-background {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 4;
}

.CodeMirror-gutter-elt {
    position: absolute;
    z-index: 4;
    cursor: default;
}

.CodeMirror-gutter-wrapper ::selection {
    background-color: transparent;
}

.CodeMirrorwrapper ::selection {
    background-color: transparent;
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
    position: relative;
    z-index: 2;
    padding: 0 4px;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    font-variant-ligatures: contextual;
    line-height: inherit;
    color: inherit;
    word-wrap: normal;
    white-space: pre;
    background: 0 0;
    border-width: 0;
    border-radius: 0;
    -webkit-tap-highlight-color: transparent;
}

.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
    word-break: normal;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.CodeMirror-linebackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.CodeMirror-linewidget {
    position: relative;
    z-index: 2;
    padding: 0.1px;
}

.CodeMirror-code {
    outline: 0;
}

.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber,
.CodeMirror-scroll,
.CodeMirror-sizer {
    box-sizing: content-box;
}

.CodeMirror-measure {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.CodeMirror-measure pre {
    position: static;
}

div.CodeMirror-dragcursors {
    visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
    visibility: visible;
}

.CodeMirror-selected {
    background: #fff;

    .dark & {
        background: #999;
    }
}

.CodeMirror-focused .CodeMirror-selected {
    background: #fff;

    .dark & {
        background: #999;
    }
}

.CodeMirror-crosshair {
    cursor: crosshair;
}

.cm-searching {
    background-color: #ffa;
    background-color: rgb(255 255 0 / 40%);
}

.cm-force-border {
    padding-right: 0.1px;
}
@media print {
    .CodeMirror div.CodeMirror-cursors {
        visibility: hidden;
    }
}

.cm-tab-wrap-hack::after {
    content: '';
}

span.CodeMirror-selectedtext {
    background: #fff;

    .dark & {
        background: #999;
    }
}

@media only screen and (max-width: 700px) {
    .editor-toolbar i.no-mobile {
        display: none;
    }
}

// .CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
//     background: rgb(255 0 0 / 15%);
// }

.EasyMDEContainer {
    display: block;
}

.CodeMirror-rtl pre {
    direction: rtl;
}

.EasyMDEContainer.sided--no-fullscreen {
    @apply flex flex-row flex-wrap;
}

.EasyMDEContainer .CodeMirror {
    @apply rounded-b-md z-0 h-auto p-2 break-words input;

    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;

    // z-index: 0;
    // box-sizing: border-box;
    // height: auto;
    // padding: 10px;
    // font: inherit;
    // word-wrap: break-word;
    // border: 1px solid #ddd;
    // border-bottom-right-radius: 4px;
    // border-bottom-left-radius: 4px;
}

.EasyMDEContainer .CodeMirror-scroll {
    cursor: text;
}

.EasyMDEContainer .CodeMirror-fullscreen {
    @apply fixed top-12 left-0 right-0 bottom-0 bg-0-light dark:bg-0-dark z-[100] border-0;
}

.EasyMDEContainer .CodeMirror-sided {
    width: 50% !important;
}

.EasyMDEContainer.sided--no-fullscreen .CodeMirror-sided {
    position: relative;
    flex: 1 1 auto;
    border-right: none !important;
    border-bottom-right-radius: 0;
}

.EasyMDEContainer .CodeMirror-placeholder {
    opacity: 0.5;
}

.EasyMDEContainer .CodeMirror-focused .CodeMirror-selected {
    @apply bg-2-light dark:bg-2-dark;

    // background: #d9d9d9;
}

.editor-toolbar {
    @apply relative p-2 select-none rounded-t-md bg-0-light dark:bg-0-dark;

    // position: relative;
    // padding: 9px 10px;
    // user-select: none;
    // border-top: 1px solid #bbb;
    // border-right: 1px solid #bbb;
    // border-left: 1px solid #bbb;
    // border-top-left-radius: 4px;
    // border-top-right-radius: 4px;
}

.editor-toolbar.fullscreen {
    @apply fixed top-0 left-0 z-[100] py-3 w-full h-12 opacity-100 border-0 bg-0-light dark:bg-0-dark;

    // position: fixed;
    // top: 0;
    // left: 0;
    // z-index: 101;
    // box-sizing: border-box;
    // width: 100%;
    // height: 50px;
    // padding-top: 10px;
    // padding-bottom: 10px;
    // background: #fff;
    // border: 0;
    // opacity: 1;
}

.editor-toolbar.fullscreen::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 50px;
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(255 255 255 / 100%) 0%, rgb(255 255 255 / 0%) 100%);
}

.editor-toolbar.fullscreen::after {
    position: fixed;
    top: 0;
    right: 0;
    width: 20px;
    height: 50px;
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 100%) 100%);
}

.EasyMDEContainer.sided--no-fullscreen .editor-toolbar {
    width: 100%;
}

.editor-toolbar .easymde-dropdown {
    position: relative;
    background: linear-gradient(to bottom right, #fff 0%, #fff 84%, #333 50%, #333 100%);
    border: 1px solid #fff;
    border-radius: 0;
}

.editor-toolbar button {
    width: 30px;
}

.editor-toolbar button,
.editor-toolbar .easymde-dropdown {
    display: inline-block;
    height: 30px;
    padding: 0;
    margin: 0;
    color: #000;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 3px;

    .dark & {
        color: #fff;
    }
}

.editor-toolbar button.active,
.editor-toolbar button:hover {
    background: #fcfcfc;
    border-color: #95a5a6;

    .dark & {
        background: #2c3e50;
        border-color: #7f8c8d;
    }
}

.editor-toolbar i.separator {
    display: inline-block;
    width: 0;
    margin: 0 6px;
    color: transparent;
    text-indent: -10px;
    border-right: 1px solid #fff;
    border-left: 1px solid #d9d9d9;
}

.editor-toolbar button::after {
    position: relative;
    top: 2px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 65%;
    vertical-align: text-bottom;
}

.editor-toolbar button.heading-1::after {
    content: '1';
}

.editor-toolbar button.heading-2::after {
    content: '2';
}

.editor-toolbar button.heading-3::after {
    content: '3';
}

.editor-toolbar button.heading-bigger::after {
    content: '▲';
}

.editor-toolbar button.heading-smaller::after {
    content: '▼';
}

.editor-toolbar.disabled-for-preview button:not(.no-disable) {
    pointer-events: none;
    opacity: 0.6;
}

@media only screen and (max-width: 700px) {
    .editor-toolbar i.no-mobile {
        display: none;
    }
}

.editor-statusbar {
    display: none;

    // padding: 8px 10px;
    // font-size: 12px;
    // color: #959694;
    // text-align: right;
}

.EasyMDEContainer.sided--no-fullscreen .editor-statusbar {
    width: 100%;
}

.editor-statusbar span {
    display: inline-block;
    min-width: 4em;
    margin-left: 1em;
}

.editor-statusbar .lines::before {
    content: 'lines: ';
}

.editor-statusbar .words::before {
    content: 'words: ';
}

.editor-statusbar .characters::before {
    content: 'characters: ';
}

.editor-preview-full {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-sizing: border-box;
    display: none;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.editor-preview-side {
    @apply overflow-auto  break-words w-1/2 hidden fixed bottom-0 right-0 top-12 z-[101];
}

.editor-preview-active-side {
    display: block;
}

.EasyMDEContainer.sided--no-fullscreen .editor-preview-active-side {
    position: static;
    flex: 1 1 auto;
    height: auto;
}

.editor-preview-active {
    display: block;
}

.editor-preview {
    @apply p-3 bg-2-light dark:bg-2-dark;
}

.editor-preview > p {
    margin-top: 0;
}

.editor-preview pre {
    margin-bottom: 10px;
    background: #eee;
}

.editor-preview table td,
.editor-preview table th {
    padding: 5px;
    border: 1px solid #ddd;
}

.cm-s-easymde .cm-tag {
    color: #63a35c;
}

.cm-s-easymde .cm-attribute {
    color: #795da3;
}

.cm-s-easymde .cm-string {
    color: #183691;
}

.cm-s-easymde .cm-header-1 {
    font-size: 200%;
    line-height: 200%;
}

.cm-s-easymde .cm-header-2 {
    font-size: 160%;
    line-height: 160%;
}

.cm-s-easymde .cm-header-3 {
    font-size: 125%;
    line-height: 125%;
}

.cm-s-easymde .cm-header-4 {
    font-size: 110%;
    line-height: 110%;
}

// .cm-s-easymde .cm-comment {
//     background: rgb(0 0 0 / 5%);
//     border-radius: 2px;
// }

.cm-s-easymde .cm-link {
    color: #7f8c8d;
}

.cm-s-easymde .cm-url {
    color: #aab2b3;
}

.cm-s-easymde .cm-quote {
    font-style: italic;
    color: #7f8c8d;
}

.editor-toolbar .easymde-dropdown:hover {
    background: linear-gradient(to bottom right, #fff 0%, #fff 84%, #333 50%, #333 100%);
}

.easymde-dropdown-content {
    position: absolute;
    top: 30px;
    z-index: 50;
    display: block;
    padding: 8px;
    visibility: hidden;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

.easymde-dropdown:active .easymde-dropdown-content,
.easymde-dropdown:focus .easymde-dropdown-content,
.easymde-dropdown:focus-within .easymde-dropdown-content {
    visibility: visible;
}

span[data-img-src]::after {
    display: block;

    /* noinspection CssUnresolvedCustomProperty, added through JS */
    width: var(--width);
    max-width: 100%;
    height: 0;
    max-height: 100%;

    /* noinspection CssUnresolvedCustomProperty, added through JS */
    padding-top: var(--height);
    content: '';

    /* noinspection CssUnresolvedCustomProperty, added through JS */
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: contain;
}
