@import '@/assets/scss/abstracts/mixins/get-color';

.text-placeholder,
%text-placeholder {
    color: #9ca3af;
}

%input-focus,
.input-focus {
    &:focus,
    &[focused] {
        @apply outline outline-2 outline-blue-600;
    }
}

%input-flat,
.input-flat {
    @extend %input-focus;
    @include get-color('bg', 2);
    @include get-color('text', 2);

    line-height: 1.43;

    @apply rounded py-2 px-3;
}

.bottom-border-input {
    @extend %input-focus;
    @include get-color('text', 2);
    @apply bg-transparent w-full focus:rounded dark:border-opacity-75 py-1.5 px-2
        pr-10 border-b-2;

    line-height: 1.43;
}

%input-shadow,
.input-shadow {
    box-shadow: inset 0 2px 2px hsl(0deg 0% 0% / 15%), 0 2px 0 hsl(0deg 0% 100% / 40%);

    .dark & {
        box-shadow: inset 0 2px 2px hsl(0deg 0% 0% / 40%), 0 2px 0 hsl(0deg 0% 100% / 15%);
    }
}

%input,
.input {
    @extend %input-flat;
    @extend %input-shadow;
}

input[type='password']:not(:placeholder-shown) {
    @apply tracking-widest;
}

input[type='checkbox'] {
    @apply bg-white transition duration-300 ease-in-out appearance-none h-4 w-4
        hover:bg-slate-100 cursor-pointer
        border-2 border-gray-300 rounded shadow-sm focus:border-blue-500
        focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50
        focus:ring-offset-0 disabled:opacity-50 disabled:cursor-not-allowed;

    &:checked {
        @apply bg-blue-500 border-0;

        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3E%3C/svg%3E");
    }
}
