@import '@/assets/scss/components/select';

/* stylelint-disable selector-class-pattern */

.multiselect,
.multiselect__input,
.multiselect__single {
    touch-action: manipulation;
}

.multiselect {
    @apply block w-full relative text-2-light dark:text-2-dark min-h-[3rem];

    &:focus {
        outline: none;
    }

    [dir='rtl'] & {
        direction: rtl;
        text-align: right;
    }

    fieldset[disabled] & {
        pointer-events: none;
    }
}

.multiselect__spinner {
    @apply bg-0-light dark:bg-0-dark h-10 w-10;

    position: absolute;
    top: 1px;
    right: 1px;
    display: block;

    [dir='rtl'] & {
        right: auto;
        left: 1px;
    }
}

.multiselect__spinner::after,
.multiselect__spinner::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    content: '';
    border-color: #4157b8 transparent transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 100%;
    box-shadow: 0 0 0 1px transparent;
}

.multiselect__spinner::before {
    animation: spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
    animation-iteration-count: infinite;
}

.multiselect__spinner::after {
    animation: spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
    animation-iteration-count: infinite;
}

.multiselect__loading-enter-active,
.multiselect__loading-leave-active {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

.multiselect__loading-enter,
.multiselect__loading-leave-active {
    opacity: 0;
}

.multiselect--disabled {
    pointer-events: none;
    opacity: 0.6;
}

.multiselect--active {
    z-index: 50;
}

.multiselect__single {
    padding-left: 5px;
}

.multiselect__input,
.multiselect__single {
    @apply bg-2-light px-3 py-1 dark:bg-2-dark rounded-lg relative inline-block;

    width: 100%;
    min-height: 20px;
    margin-bottom: 8px;
    line-height: 20px;
    vertical-align: top;
    border-radius: 5px !important;

    &:focus {
        @apply outline-none ring-2 ring-blue-500;
    }

    [dir='rtl'] & {
        direction: rtl;
        text-align: right;
    }
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.multiselect__input:input-placeholder,
.multiselect__input::placeholder {
    @apply text-placeholder;
}

.multiselect__tag ~ .multiselect__input,
.multiselect__tag ~ .multiselect__single {
    width: auto;
}

.multiselect__tags-wrap {
    display: inline;
}

.multiselect__tags {
    @apply select min-h-[3rem];

    padding: 8px 40px 0 8px;
}

.multiselect__tag {
    @apply text-white bg-blue-500 rounded-full;

    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 4px 26px 4px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    overflow: hidden;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.multiselect__tag-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 22px;
    margin-left: 7px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.multiselect__tag-icon::after {
    @apply text-lg text-gray-300;

    content: '×';
}

.multiselect__tag-icon:focus::after,
.multiselect__tag-icon:hover::after {
    @apply text-white;
}

.multiselect__current {
    @apply rounded-lg;

    min-height: 40px;
    padding: 8px 12px 0;
    padding-right: 30px;
    overflow: hidden;
    white-space: nowrap;
}

.multiselect__current,
.multiselect__select {
    box-sizing: border-box;
    display: block;
    margin: 0;
    line-height: 16px;
    text-decoration: none;
    cursor: pointer;
}

.multiselect__select {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 40px;
    height: 38px;
    padding: 4px 8px;
    text-align: center;
    transition: transform 0.2s ease;

    [dir='rtl'] & {
        right: auto;
        left: 1px;
    }
}

.multiselect__select::before {
    @apply text-2-light dark:text-2-dark border-0-light dark:border-0-dark;

    position: relative;
    top: 65%;
    right: 0;
    margin-top: 4px;
    content: '';
    border-color: #777 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;

    .dark & {
        border-color: #eee transparent transparent;
    }
}

.multiselect--active:not(.multiselect--above) .multiselect__current,
.multiselect--active:not(.multiselect--above) .multiselect__input,
.multiselect--active:not(.multiselect--above) .multiselect__tags {
    @apply rounded-r-none rounded-l-none;
}

.multiselect--active .multiselect__select {
    transform: rotate(180deg);
}

.multiselect--above.multiselect--active .multiselect__current,
.multiselect--above.multiselect--active .multiselect__input,
.multiselect--above.multiselect--active .multiselect__tags {
    @apply rounded-t-none;
}

.multiselect__placeholder {
    @apply text-placeholder pl-3 pt-1 mb-2 inline-block;
}

.multiselect--active .multiselect__placeholder {
    @apply hidden;
}

.multiselect__content-wrapper {
    @apply overflow-auto absolute bg-3-light dark:bg-3-dark rounded-b-lg w-full z-50 block shadow-2xl;

    max-height: 380px !important;
}

.multiselect__content {
    display: inline-block;
    min-width: 100%;
    padding: 0;
    margin: 0;
    vertical-align: top;
    list-style: none;

    [dir='rtl'] & {
        text-align: right;
    }
}

.multiselect--above .multiselect__content-wrapper {
    bottom: 100%;
    border-radius: 5px 5px 0 0;
}

.multiselect__content::-webkit-scrollbar {
    display: none;
}

.multiselect__element {
    display: block;
}

.multiselect__option {
    position: relative;
    display: block;
    min-height: 40px;
    padding: 12px;
    line-height: 16px;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}

.multiselect__option::after {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 12px;
    padding-left: 20px;
    font-size: 13px;
    line-height: 40px;

    [dir='rtl'] & {
        right: auto;
        left: 0;
    }
}

.multiselect__option--highlight {
    @apply text-white bg-blue-200 dark:bg-blue-600 outline-none;
}

// .multiselect__option--highlight::after {
//     @apply text-white bg-blue-500;

//     content: attr(data-select);
// }

.multiselect__option--selected {
    @apply bg-1-light dark:bg-1-dark font-medium text-0-light dark:text-0-dark;
}

.multiselect__option--selected::after {
    color: silver;

    // content: attr(data-selected);
}

.multiselect__option--selected.multiselect__option--highlight {
    @apply text-white bg-red-200 dark:bg-red-500;
}

.multiselect__option--selected.multiselect__option--highlight::after {
    @apply text-white bg-red-200 dark:bg-red-500;

    // content: attr(data-deselect);
}

// .multiselect--disabled .multiselect__current,
// .multiselect--disabled .multiselect__select {
//     color: #a6a6a6;
//     background: #ededed;
// }

.multiselect__option--disabled {
    @apply text-1-light dark:text-1-dark;

    pointer-events: none;
    cursor: text;
}

.multiselect__option--group {
    @apply bg-4-light dark:bg-4-dark uppercase text-sm text-1-light dark:text-1-dark;

    min-height: 30px !important;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px !important;
}

.multiselect__option--group.multiselect__option--highlight {
    @apply bg-1-light dark:bg-1-dark text-0-light dark:text-0-dark;
}

.multiselect__option--group.multiselect__option--highlight::after {
    @apply bg-1-light dark:bg-1-dark;
}

.multiselect__option--disabled.multiselect__option--highlight {
    @apply bg-2-light dark:bg-2-dark;
}

.multiselect__option--group-selected.multiselect__option--highlight {
    @apply text-white bg-red-200 dark:bg-red-500;
}

.multiselect__option--group-selected.multiselect__option--highlight::after {
    @apply text-white bg-red-200 dark:bg-red-500;

    content: attr(data-deselect);
}

.multiselect-enter-active,
.multiselect-leave-active {
    transition: all 0.15s ease;
}

.multiselect-enter,
.multiselect-leave-active {
    opacity: 0;
}

.multiselect__strong {
    display: inline-block;
    margin-bottom: 8px;
    line-height: 20px;
    vertical-align: top;
}

[dir='rtl'] .multiselect__clear {
    right: auto;
    left: 12px;
}

@keyframes spinning {
    0% {
        transform: rotate(0);
    }

    to {
        transform: rotate(2turn);
    }
}

@keyframes spinning {
    0% {
        transform: rotate(0);
    }

    to {
        transform: rotate(2turn);
    }
}
