@import '@/assets/scss/abstracts/mixins/get-color';
@import '@/assets/scss/components/input';

select:invalid {
    @extend %text-placeholder;

    opacity: 1;
}

// TODO: fix selector (find better workaround)
%raised,
.raised,
button.raised {
    box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 60%), 1px 2px 2px 0 hsl(0deg 0% 0% / 15%);

    .dark & {
        box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 50%), 0 2px 2px hsl(0deg 0% 0% / 50%);
    }
}

%select,
.select {
    @extend %input-flat;
    @extend %raised;
}

.select-0 {
    @include get-color('bg', 0);
    @extend %input-flat;
    @extend %raised;
}

.select-1 {
    @include get-color('bg', 1);
    @extend %input-flat;
    @extend %raised;
}

.select-2 {
    @include get-color('bg', 2);
    @extend %input-flat;
    @extend %raised;
}

%popover,
.popover {
    @include get-color('bg', 2);
    @apply p-3 rounded-lg shadow-md;
}
