@font-face {
  font-family: HarmonyOS;
  font-weight: 800;
  src: local(harmonyos-black), url("@assets/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Black.ttf") format("truetype");
}

@font-face {
  font-family: HarmonyOS;
  font-weight: 700;
  src: local(harmonyos-bold), url("@assets/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Bold.ttf") format("truetype");
}

@font-face {
  font-family: HarmonyOS;
  font-weight: 500;
  src: local(harmonyos-medium), url("@assets/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Medium.ttf") format("truetype");
}

@font-face {
  font-family: HarmonyOS;
  font-weight: 400;
  src: local(harmonyos-regular), url("@assets/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Regular.ttf") format("truetype");
}

@font-face {
  font-family: HarmonyOS;
  font-weight: 300;
  src: local(harmonyos-light), url("@assets/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Light.ttf") format("truetype");
}

@font-face {
  font-family: HarmonyOS;
  font-weight: 200;
  src: local(harmonyos-thin), url("@assets/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Thin.ttf") format("truetype");
}

@font-face {
  font-family: HarmonyOS;
  font-weight: 800;
  font-style: italic;
  src: local(harmonyos-black-italic), url("@assets/fonts/HarmonyOS_Sans_Italic/HarmonyOS_Sans_Black_Italic.ttf") format("truetype");
}

@font-face {
  font-family: HarmonyOS;
  font-weight: 700;
  font-style: italic;
  src: local(harmonyos-bold-italic), url("@assets/fonts/HarmonyOS_Sans_Italic/HarmonyOS_Sans_Bold_Italic.ttf") format("truetype");
}

@font-face {
  font-family: HarmonyOS;
  font-weight: 500;
  font-style: italic;
  src: local(harmonyos-medium-italic), url("@assets/fonts/HarmonyOS_Sans_Italic/HarmonyOS_Sans_Medium_Italic.ttf") format("truetype");
}

@font-face {
  font-family: HarmonyOS;
  font-weight: 400;
  font-style: italic;
  src: local(harmonyos-regular-italic), url("@assets/fonts/HarmonyOS_Sans_Italic/HarmonyOS_Sans_Regular_Italic.ttf") format("truetype");
}

@font-face {
  font-family: HarmonyOS;
  font-weight: 300;
  font-style: italic;
  src: local(harmonyos-light-italic), url("@assets/fonts/HarmonyOS_Sans_Italic/HarmonyOS_Sans_Light_Italic.ttf") format("truetype");
}

@font-face {
  font-family: HarmonyOS;
  font-weight: 200;
  font-style: italic;
  src: local(harmonyos-thin-italic), url("@assets/fonts/HarmonyOS_Sans_Italic/HarmonyOS_Sans_Thin_Italic.ttf") format("truetype");
}

* {
  @apply transition-colors duration-[250ms] ease-in-out;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  font-family: HarmonyOS, sans-serif;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  opacity: 0;
}

#root:not(:empty) {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.global-app-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

#root:not(:empty) + .global-app-loader {
  opacity: 0;
}

.global-app-loader .app-loader-cube {
  width: 33%;
  height: 33%;
  background-color: white;
  float: left;
  animation: grid-scale-delay 1.3s infinite ease-in-out;
}

.global-app-loader .app-loader-cube1 {
  animation-delay: 0.2s;
}

.global-app-loader .app-loader-cube2 {
  animation-delay: 0.3s;
}

.global-app-loader .app-loader-cube3 {
  animation-delay: 0.4s;
}

.global-app-loader .app-loader-cube4 {
  animation-delay: 0.1s;
}

.global-app-loader .app-loader-cube5 {
  animation-delay: 0.2s;
}

.global-app-loader .app-loader-cube6 {
  animation-delay: 0.3s;
}

.global-app-loader .app-loader-cube7 {
  animation-delay: 0s;
}

.global-app-loader .app-loader-cube8 {
  animation-delay: 0.1s;
}

.global-app-loader .app-loader-cube9 {
  animation-delay: 0.2s;
}

@keyframes grid-scale-delay {
  0%,
  70%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  35% {
    transform: scale3d(0, 0, 1);
  }
}
