html {
  @apply text-[14px];
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  opacity: 0;
}

#root:not(:empty) {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

#root:not(:empty) + #global-loader {
  display: none;
}

#root * {
  @apply transition-[color,background-color,border-color,box-shadow,filter,text-shadow,text-decoration-color,fill,stroke,outline] duration-[200ms] ease-in-out;
}

.nc-footer {
  display: none !important;
}

swiper-slide {
  width: auto !important;
}
