/* Prev Scrolling */
.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.slide-fade-enter {
    opacity: 0;
    transform: translateY(100%);
}

/* Back Scrolling */
.slide-fade-reverse-enter-active,
.slide-fade-reverse-leave-active {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.slide-fade-reverse-enter {
    opacity: 0;
    transform: translateY(-100%);
}

.slide-fade-reverse-leave-to {
    opacity: 0;
    transform: translateY(100%);
}

.slide-fade-leave-to {
    opacity: 0;
    transform: translateY(-100%);
}

.slide-y-leave-active,
.slide-y-enter-active {
    transition: 1s;
}

.slide-y-enter {
    transform: translate(100%, 0);
}

.slide-y-leave-to {
    transform: translate(-100%, 0);
}

.switch-enter-active,
.switch-leave-active {
    transition: all 0.5s ease;
}

.switch-enter-from,
.switch-leave-to {
    opacity: 0;
}

.switch-fade-enter-active {
    transition: opacity 0.2s ease;
}

.switch-fade-enter-from,
.switch-fade-leave-to {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.search-fade-enter-active,
.search-fade-leave-active {
    transition: opacity 0.4s ease;
}

.search-fade-enter-from,
.search-fade-leave-to {
    opacity: 0;
}

.file-tree-enter-active,
.file-tree-leave-active {
    transition: all 0.3s ease;
}

.file-tree-enter-from,
.file-tree-leave-to {
    opacity: 0;
    transform: translateY(-10%);
}

.grid-move {
    transition: all 0.3s;
}
