/* Back Scrolling */
.from-bottom-enter-active {
    transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
}

.from-bottom-enter-to,
.from-bottom-leave-from {
    opacity: 1;
    transform: translateY(0%);
}

.from-bottom-enter-from {
    opacity: 0;
    transform: translateY(80%);
}

.switch-enter-active,
.switch-leave-active {
    transition: all 0.5s ease;
}

.switch-enter-from,
.switch-leave-to {
    opacity: 0;
}

.switch-fade-enter-active {
    transition: opacity 0.2s ease;
}

.switch-fade-enter-from,
.switch-fade-leave-to {
    opacity: 0;
}

.fade-enter-active {
    transition: opacity 0.1s ease;
}

.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.search-fade-enter-active,
.search-fade-leave-active {
    transition: opacity 0.4s ease;
}

.search-fade-enter-from,
.search-fade-leave-to {
    opacity: 0;
}

.file-tree-enter-active,
.file-tree-leave-active {
    transition: all 0.3s ease;
}

.file-tree-enter-from,
.file-tree-leave-to {
    opacity: 0;
    transform: translateY(-10%);
}

.grid-move {
    transition: all 0.3s;
}
